MONGO_DB_URL=     
                  
JWT_SECRET_KEY=
JWT_ALGORITHM=                 
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=  
JWT_REFRESH_TOKEN_EXPIRE_DAYS=     

APP_FRONTEND_URL=  
APP_LOCALHOST_URL=

# Must be either "dev" or "prod" 
APP_ENVIRONMENT=
